

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.rd{
    color: #FD6E0A ;
}
.dark-2{
    color:#474747;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}
/* nav style */
nav ul{
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 200px;
}
.nav-title{
    font-weight: 800;
    font-size:45px;
}
nav ul li{
    list-style: none;
    margin-right: 40px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
/* header image */
.header{
    background-image: url(../style/developer.png),url(../style/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;

}
/* .banner-content{
    margin: 101px 813px 280px 202px  ;
} */
.banner-greeting{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
